

<img src="{{url_for('static', filename='Image_UPLOADS/profiles/'+current_user.userid|string+'.png')}}" align="middle" />

<form action="" method="POST" enctype=multipart/form-data>
    <div class="form-group">
        <div class="file-field">
            <div class="z-depth-1-half mb-2">
                <img src="{{url_for('static', filename='Image_UPLOADS/profiles/'+current_user.userid|string+'.png')}}" class="img-fluid" alt="image">
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <div class="custom-file">
        <input type="file" name="image" class="custom-file-input" id="image">
        <label class="custom-file-label" for="customFileLangHTML" data-browse="Upload">Upload Photo</label>
      </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="forename">forename</label>
            <input type="text" class="form-control" id="forename" name="forename" placeholder="ชื่อ">
        </div>
        <div class="form-group col-md-6">
            <label for="lastname">lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="นามสกุล">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dob">dob</label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="วันเดือนปีเกิด">
        </div>
        <div class="form-group col-md-6">
            <label for="dob">dob</label>
            <input type="text" class="form-control" id="about" name="about" placeholder="เกี่ยวกับฉัน">
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="dob">dob</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="m" checked>
                <label class="form-check-label" for="exampleRadios1">
    ชาย
  </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="f">
                <label class="form-check-label" for="exampleRadios2">
    หญิง
  </label>
            </div>
        </div>
    </div>


    <input type="hidden" id="dtime" name="dtime" value="{{ now1 }}">
    <input class="btn btn-primary" type="submit" value="บันทึกข้อมูล"> {% if error %}
    <p class="alert alert-danger"><strong>Error:</strong> {{ error }} {% endif %}
</form>
