<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container h-100">
  <div class="justify-content-center align-items-center" style="position: relative; top: 10%;">
    <div class="card" style="width: 100%">
      <h4 class="card-header">Sign Up</h4>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger", role= "alert">
      <ul class="list">
        {% for message in messages %}
          <p style="color: red;">{{ message }} </p>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/signup">
    {{ form.hidden_tag() }}
    <br>
    <br>
    <div class="row g-3">
      <div class="col">
        <label>Email </label>
           {{ form.email (class_='form-control') }}
           <div class="valid-feedback">
      Looks good!
    </div>

      </div>
      <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Username</label>
            <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
            {{ form.username (class_='form-control') }}
            </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
        <label>Password</label>
           {{ form.password (class_='form-control') }}
      </div>
      <div class="col">
            <label>Re-Password</label>
            {{ form.confirmPassword (class_='form-control') }}
      </div>
    </div>
      <br>
      <br>
      {{ form.consent  }}
      I consent for storing all my data securely, including passwords
      <br>
        <div class="col-6">
          {{ form.Signupbtn (class_='btn btn-success') }}
        </div>
  
  </form>
  <br>
  <form method="get" style="position: relative; top: 60%;left:10%" action="/login">
    <p>if u are already an existing user,</p>
    <button type="submit" class="btn btn-primary">Log in!</button>
</form>

</div> <!-- /container -->
{% endblock %}